* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: b black;
}

/* Typography updated according to our design system 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2rem;
  font-family: Raleway, Arial, sans-serif;
}
h1,
h2 {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 2rem; /* 32px */
}
h2 {
  font-size: 1.5rem; /* 24px */
}
h3 {
  font-size: 1.125rem; /* 20px */
}

/* Larger than phablet- updating according to our design system */
@media (min-width: 320px) and (max-width: 431px) {
  h1 {
    font-size: 1.3125rem;
  }
  h2 {
    font-size: 1.125rem;
  }
  h3 {
    font-size: 1rem;
  }
  body {
    font-size: 0.875rem;
  }
}

/* style that apply to all buttons filled and outlined buttons*/
/* Button styles  */
.filled-button,
.outlined-button {
  display: inline-block;
  border-radius: 6px;
  padding: 10px 24px;
  cursor: pointer;
  font-size: 16px; /* Adjust the font size as needed */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Smooth transition for hover states */
}

/* Styles for all filled buttons */
.filled-button {
  background-color: #07494f;
  color: white;
  border: 2px solid #07494f;
}

/* Styles for all outlined buttons */
.outlined-button {
  background-color: white;
  color: #07494f;
  border: 2px solid #07494f;
}

/* Hover state for all filled buttons */
.filled-button:hover {
  background-color: #055c6e; /* Slightly darker for hover */
  border-color: #055c6e; /* Consistent with background */
}

/* Hover state for all outlined buttons */
.outlined-button:hover {
  background-color: #e5f2f7; /* Very light background for hover */
  color: #033e52; /* Slightly darker text */
  border-color: #033e52; /* Slightly darker border */
}

/* ################ */
.logo {
  width: 280px;
  height: 64px;
  margin-top: 114px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block; /* Ensures the margins apply correctly */
  object-fit: contain; /* Keeps aspect ratio within the given dimensions */
}

.bluetooth-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.bluetooth-section h2,
.bluetooth-section h3 {
  text-align: center;
  font-weight: normal;
}
.bluetooth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 59px;
}

.bluetooth-section h3 {
  margin-left: 20px;
}

.device-list {
  list-style: none;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.device-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #e0f7ff;
  width: 100%;
  height: 52px;
  padding: 10px 18px 10px 18px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 17px;
}

.device-list li:hover,
.continue-button:hover {
  background: #b2ecff;
}

.device-list li:active,
.continue-button:active {
  background: #7bcbc6;
  transform: scale(0.98);
}

.device-list .add-device {
  justify-content: center;
  background: white;
  text-align: center;
  border: 2px dashed #e0f7ff;
}

.device-list .plus-icon {
  margin-left: 10px;
  border: none;
  background: transparent;
}

.device-list :last-child {
  display: flex;
  align-items: center;
}

.device-list .status {
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.continue-button {
  display: block;
  color: #07494f;
  background-color: white;
  font-weight: 700;
  height: 40px;
  width: 50%;
  padding: 10px 24px 10px 24px;
  border: 1px solid #07494f;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* navigasjonsbar
.navBar svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: 2px 10px;
}

.navBar div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navBar a {
  color: #000000;
  text-decoration: none;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0 1.5rem 0;
  bottom: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.navKart {
  margin: 4px 3.5em;
}

.greenSVG {
  background-color: #e6f3f2;
  border-radius: 100px;
  padding: 4px 15px;
  margin-bottom: 2px;
}

.blackSVG {
  background-color: white;
  padding: 4px 15px;
  margin-bottom: 2px;
} */

footer {
  min-height: 105px;
}
/* Desktop */
@media (min-width: 980px) {
  body {
    max-width: 768px;
    margin: auto;
  }
  .navBar {
    max-width: 768px;
  }
}

/* Style for legg til +  */
#addDeviceModal {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

#addDeviceModal > div {
  border: 1px solid #888;
  max-width: 400px;
  background: white;
  padding: 30px 16px 20px 16px;
  border-radius: 5px;
  width: 70%;
}
#newDeviceForm > label,
#newDeviceForm > input {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

#newDeviceForm > input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #888;
}

#newDeviceForm > button:nth-child(13) {
  float: left;
}
#newDeviceForm > button:nth-child(14) {
  float: right;
}